@page
@model IS_Proj_HIT.CreateModelNoteType

@{
    ViewData["Title"] = "Create Note Type";
}

<h1>Create</h1>

<h4>NoteType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoteType.NoteType1" class="control-label"></label>
                <input asp-for="NoteType.NoteType1" class="form-control" maxlength="100" />
                <span asp-validation-for="NoteType.NoteType1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteType.LastModified" class="control-label"></label>
                <input asp-for="NoteType.LastModified" class="form-control" />
                <span asp-validation-for="NoteType.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
