@page
@model IS_Proj_HIT.CreateModelPainRating

@{
    ViewData["Title"] = "Create Pain Rating";
}

<h1>Create Pain Rating</h1>

<h4>PainRating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PainRating.PainParameterId" class="control-label"></label>
                <select asp-for="PainRating.PainParameterId" class ="form-control" asp-items="ViewBag.PainParameterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PainRating.Value" class="control-label"></label>
                <input asp-for="PainRating.Value" class="form-control" />
                <span asp-validation-for="PainRating.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PainRating.Description" class="control-label"></label>
                <input asp-for="PainRating.Description" class="form-control" maxlength="200" />
                <span asp-validation-for="PainRating.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
