@page
@model IS_Proj_HIT.EditModelPointOfOrigin

@{
    ViewData["Title"] = "Edit Point of Origin";
}

<h1>Edit Point of Origin</h1>

<h4>PointOfOrigin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PointOfOrigin.PointOfOriginId" />
            <div class="form-group">
                <label asp-for="PointOfOrigin.WiPopCode" class="control-label"></label>
                <input asp-for="PointOfOrigin.WiPopCode" class="form-control" maxlength="3" />
                <span asp-validation-for="PointOfOrigin.WiPopCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointOfOrigin.Description" class="control-label"></label>
                <input asp-for="PointOfOrigin.Description" class="form-control" maxlength="150" />
                <span asp-validation-for="PointOfOrigin.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointOfOrigin.Explaination" class="control-label"></label>
                <input asp-for="PointOfOrigin.Explaination" class="form-control" />
                <span asp-validation-for="PointOfOrigin.Explaination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointOfOrigin.LastModified" class="control-label"></label>
                <input asp-for="PointOfOrigin.LastModified" class="form-control" readonly />
                <span asp-validation-for="PointOfOrigin.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
