@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Thanks for registering!";
}
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource. Please contact your instructor or administration.</p>
        <p class="text-danger">You will gain access to the system once your instructor has activated your account.</p>
        <p class="text-danger">If you think you should have access, please contact your instructor or administrator.</p>
    </header>
