@page
@model IS_Proj_HIT.Areas.Identity.Pages.Account.NoSecurityQuestionsModel
@{
    ViewData["Title"] = "No Security Questions";
}

<h1>@ViewData["Title"]</h1>
<h4>Your account has no Security Questions tied to it.</h4>
<h4>Contact your instructor to reset your password </h4>