@page
@model IS_Proj_HIT.CreateModelCareSystemParameter

@{
    ViewData["Title"] = "Create Care System Parameter";
}

<h1>Create Care System Parameter</h1>

<h4>CareSystemParameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CareSystemParameter.Name" class="control-label"></label>
                <input asp-for="CareSystemParameter.Name" class="form-control" maxlength="100" />
                <span asp-validation-for="CareSystemParameter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareSystemParameter.NormalLimitsDescription" class="control-label"></label>
                <input asp-for="CareSystemParameter.NormalLimitsDescription" class="form-control" />
                <span asp-validation-for="CareSystemParameter.NormalLimitsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareSystemParameter.CareSystemTypeId" class="control-label"></label>
                <select asp-for="CareSystemParameter.CareSystemTypeId" class="form-control" asp-items="ViewBag.CareSystemTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
