@page
@model IS_Proj_HIT.CreateModelPainRatingImage

@{
    ViewData["Title"] = "Create Pain Rating Image";
}

<h1>Create Pain Rating Image</h1>

<h4>PainRatingImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PainRatingImage.PainRatingId" class="control-label"></label>
                <select asp-for="PainRatingImage.PainRatingId" class="form-control" asp-items="ViewBag.PainRatingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PainRatingImage.Image" class="control-label"></label>
                <input asp-for="PainRatingImage.Image" class="form-control" />
                <span asp-validation-for="PainRatingImage.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
