@page
@model IS_Proj_HIT.EditModelO2deliveryType

@{
    ViewData["Title"] = "Edit O2 Delivery Type";
}

<h1>Edit O2 Delivery Type</h1>

<h4>O2deliveryType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="O2deliveryType.O2deliveryTypeId" />
            <div class="form-group">
                <label asp-for="O2deliveryType.O2deliveryTypeName" class="control-label"></label>
                <input asp-for="O2deliveryType.O2deliveryTypeName" class="form-control" maxlength="50" />
                <span asp-validation-for="O2deliveryType.O2deliveryTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="O2deliveryType.LastModified" class="control-label"></label>
                <input asp-for="O2deliveryType.LastModified" class="form-control" readonly />
                <span asp-validation-for="O2deliveryType.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
