@page
@model IS_Proj_HIT.EditModelPcaCommentType

@{
    ViewData["Title"] = "Edit PCA Comment Type";
}

<h1>Edit PCA Comment Type</h1>

<h4>PcaCommentType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PcaCommentType.PcacommentTypeId" />
            <div class="form-group">
                <label asp-for="PcaCommentType.PcacommentTypeName" class="control-label"></label>
                <input asp-for="PcaCommentType.PcacommentTypeName" class="form-control" maxlength="50" />
                <span asp-validation-for="PcaCommentType.PcacommentTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcaCommentType.LastModified" class="control-label"></label>
                <input asp-for="PcaCommentType.LastModified" class="form-control" readonly />
                <span asp-validation-for="PcaCommentType.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
