@page
@model IS_Proj_HIT.EditModelPulseRouteType

@{
    ViewData["Title"] = "Edit Pulse Route Type";
}

<h1>Edit Pulse Route Type</h1>

<h4>PulseRouteType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PulseRouteType.PulseRouteTypeId" />
            <div class="form-group">
                <label asp-for="PulseRouteType.PulseRouteTypeName" class="control-label"></label>
                <input asp-for="PulseRouteType.PulseRouteTypeName" class="form-control" maxlength="50" />
                <span asp-validation-for="PulseRouteType.PulseRouteTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PulseRouteType.LastModified" class="control-label"></label>
                <input asp-for="PulseRouteType.LastModified" class="form-control" readonly />
                <span asp-validation-for="PulseRouteType.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
