@model IS_Proj_HIT.Entities.Patient

<div class="card bg-secondary">
    <div class="card-header bg-primary text-white"><h4>Add Patient</h4></div>
    <div class="card-body bg-light">
        <form method="post" id="patient" name="patient" asp-action="AddPatient">
            <div class="text-center shadebox">
                <label class="mrn">MRN</label><br />
                <input asp-for="@Model.Mrn" class="bg-light mrn" name="Mrn" id="mrn" data-toggle="popover" data-placement="top" title="This unique ID identifies the patient" readonly value="@(ViewBag.MRN ?? String.Empty)" />
            </div>
            <partial name="~/Views/Patient/PatientFormFields.cshtml" />
            <hr/>
            <button class="btn btn-primary btn-block btn-lg" type="submit" id="formatSsnAndSubmitForm">Create</button>
        </form>
    </div>
</div>

<hr />
<a asp-controller="Patient"
   asp-action="PatientSearch"
   class="btn btn-outline-primary">
    <i class="fas fa-search"></i> Return to Search
</a>