@{
    ViewData["Title"] = "Discharge Summary - Physician Document";
}

<!DOCTYPE html>
@* Everything in this folder is unused, and probably will never be used. We began creating Physician documents before realizing that they already existed, so these should be obsolete. *@
<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>