@page
@model IS_Proj_HIT.EditModelEncounterPhysicians

@{
    ViewData["Title"] = "Edit Encounter Physician";
}

<h1>Edit Encounter Physician</h1>

<h4>EncounterPhysicians</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EncounterPhysicians.EncounterPhysiciansId" />
            <div class="form-group">
                <label asp-for="EncounterPhysicians.PhysicianId" class="control-label"></label>
                <select asp-for="EncounterPhysicians.PhysicianId" class="form-control" asp-items="ViewBag.PhysicianId"></select>
                <span asp-validation-for="EncounterPhysicians.PhysicianId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncounterPhysicians.PhysicianRoleId" class="control-label"></label>
                <select asp-for="EncounterPhysicians.PhysicianRoleId" class="form-control" asp-items="ViewBag.PhysicianRoleId"></select>
                <span asp-validation-for="EncounterPhysicians.PhysicianRoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncounterPhysicians.LastModified" class="control-label"></label>
                <input asp-for="EncounterPhysicians.LastModified" class="form-control" readonly />
                <span asp-validation-for="EncounterPhysicians.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
